@charset "UTF-8";



/*----- HEADER -----*/
.menu,#menu,.closemenu{
    display: none;
}

#NAVBAR{
    display: none;
}

header{
    padding: 20px;
}



/*----- MAIN -----*/
.apresentacao{
    display: flex;
    flex-direction: column;
}

.meu_nome{
    margin-right: 0px;
}

.programador{
    margin-top: 30px;
}

.img_conversa{
    width: 300px;
}

.img_html,
.img_css,
.img_javascript{
    margin: 10px 40px;
    padding: 10px;
    width: 75px;
    border-radius: 10px;
}