@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

:root{
    --cor1: #292e33;
    --cor2: #344757;
    --cor3: #0084f0;
    --cor4: #37658a;
    --cor5: #2679bd;

    font-family: 'Nunito', sans-serif;
    color: white;
}

body{
    height: 100vh;
    background-color: var(--cor1);
}


/*----- BARRA DE NAVEGAÇÃO -----*/
header{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 20px black;
}

.logo{
    margin: 10px;
    width: 45px;
    cursor: pointer;
    transition: 0.5s;
}

.logo:hover{
    scale: 1.2;
    transform: rotate(40deg);
    transition: 0.5s;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NAVBAR{
    display: none;
}

#menu{
    display: none;
}

li{
    margin: 0px 10px;
    padding: 10px;
    list-style-type: none;
    border: 2px solid var(--cor5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

li:hover{
    background-color: var(--cor5);
    box-shadow: 0px 0px 30px var(--cor3);
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*----- CONTEÚDO PRINCIPAL -----*/
main{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seçao{
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao{
    margin: 20px;
    padding: 5px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.programador{
    width: 400px;
    border-radius: 50%;
    transition: 0.4s;
}

.programador:hover{
    transform: translateX(20px);
    transition: 0.4s;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos,
.habilidades,
.sobremim{
    width: 80%;
    max-width: 1200px;
    margin: 20px 0px;
    padding: 20px;
    background-color: var(--cor2);
    border-radius: 15px;
    transition: 0.4s;
}

/* .sobremim:hover,
.projetos:hover,
.habilidades:hover{
    box-shadow: 0px 0px 30px var(--cor3);
    transition: 0.4s;
} */

.img_conversa{
    width: 300px;
}

.img_conversa,
.conversa{
    margin: 0px 10px;
    padding: 10px;
}

h1{
    font-size: 5rem;
    font-weight: 800;
    color: var(--cor3);
}

h2{
    margin: 10px 0px;
}

h3{
    margin: 10px 0px;
    text-align: center;
    font-size: 3rem;
}

h4{
    font-size: 25px;
}

p{
    max-width: 500px;
    margin: 10px 0px;
}

.tecnologias{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_html,
.img_css,
.img_javascript{
    margin: 10px 20px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

.html:hover,
.css:hover,
.js:hover{
    transform: translateY(-20px);
    transition: 0.4s;
}

.html,.css,.js{
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projeto01,
.projeto02,
.projeto03{
    margin: 30px 0px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .projeto02{
    flex-direction: row-reverse;
} */

.img_jogo_pergunta,
.img_lista,
.img_calculadora{
    width: 400px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0px 0px 0px 2px var(--cor3);
}

.img_jogo_pergunta:hover,
.img_lista:hover,
.img_calculadora:hover{
    box-shadow: 0px 0px 10px 2px var(--cor3);
    transition: 0.4s;
}

.descriçao{
    margin: 0px 15px;
    width: 90%;
    justify-content: start;
}

/* .descriçao02{
    margin: 0px 15px;
    text-align: end;
} */

.tec{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* .tec02{
    display: flex;
    justify-content: end;
    align-items: center;
} */

.tec_html,.tec_css,.tec_js{
    width: 40px;
    margin: 5px;
}

.codigo:hover{
    text-decoration: underline;
    transition: 0.5s;
}

/*----- FOOTER -----*/
hr{
    border-color: var(--cor3);
}

#contato{
    margin: 0px 20px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.contato{
    display: flex;
    justify-content: space-between;
}

.txt_contato{
    font-size: 20px;
}

.link,.git{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.link:hover,
.git:hover{
    scale: 1.1;
    transition: 0.4s;
}

.linkedin,.github{
    margin-left: 20px;
    margin-right: 5px;
    width: 30px;
}


/*----- BOTÃO HOME -----*/
.btn_voltar{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.4s;
}

.btn_voltar:hover{
    scale: 1.25;
    transition: 0.4s;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}