@charset "UTF-8";

body{
    width: 100vw;
    height: 100vh;
}



/*----- HEADER -----*/
header{
    padding: 0px 15px;
}

.navbar{
    display: none;
}

#NAVBAR{
    padding: 5px 10px;
    display: none;
    flex-direction: column;
    background-color: var(--cor2);
    border-radius: 10px;
    width: 60%;
    position: absolute;
    top: 70px;
    right: 10px;
}

.navegar{
    width: 100%;
}

li{
    margin: 10px 0px;
    text-align: center;
}

.menu{
    fill: white;
}

#menu{
    background-color: var(--cor2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.closemenu{
    display: none;
    fill: white;
}

main{
    margin: 0px;
    padding: 0px;
}



/*----- MAIN -----*/
.apresentacao{
    margin: 60px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1rem;
}

.programador{
    width: 300px;
}

.projetos,.habilidades{
    width: 80%;
    padding: 20px;
    background-color: var(--cor2);
    border-radius: 15px;
    transition: 0.4s;
}

.img_conversa{
    width: 200px;
}

.sobre{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnologias{
    display: flex;
    flex-direction: column;
}

.projeto01,
.projeto02,
.projeto03{
    margin: 30px 0px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_jogo_pergunta,
.img_lista,
.img_calculadora{
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
}



/*----- FOOTER-----*/
.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_voltar{
    position: fixed;
    bottom: 35px;
    right: 5px;
    width: 30px;
    cursor: pointer;
    transition: 0.4s;
}