@charset "UTF-8";

.menu,#menu,.closemenu{
    display: none;
}

#NAVBAR{
    display: none;
}

body{
    width: 100%;
}

header{
    padding: 20px;
}

.apresentacao{
    display: flex;
    flex-direction: column;
}

.sobremim{
    max-width: 900px;
}

h1{
    font-size: 4rem;
}

.img_conversa{
    width: 200px;
}

.img_html,.img_css,.img_javascript{
    margin: 10px 30px;
    padding: 10px;
    width: 75px;
    border-radius: 10px;
}