@charset "UTF-8";

body{
    width: 100%;
}



/*----- HEADER -----*/
.menu,#menu,.closemenu{
    display: none;
}

#NAVBAR{
    display: none;
}

header{
    padding: 20px;
}



/*----- MAIN -----*/
.apresentacao{
    display: flex;
    flex-direction: column;
}

.meu_nome{
    margin-right: 0px;
}

.programador{
    margin-top: 30px;
}

.sobremim{
    max-width: 900px;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
}

.img_conversa{
    width: 300px;
}

.img_html,.img_css,.img_javascript{
    margin: 10px 30px;
    padding: 10px;
    width: 75px;
    border-radius: 10px;
}

.projeto01,
.projeto02,
.projeto03{
    margin: 30px 0px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_jogo_pergunta,
.img_lista,
.img_calculadora{
    margin: 10px 0px;
    width: 500px;
    border-radius: 10px;
}